<meta charset="UTF-8">
<div ng-include="'partials/menuUser.html'"></div>
<div class="row myRow">
	<form class="col s12" name="contatoForm">
		<!-- Div Esquerda -->
		<div class="col s6">
			<div class="input-field col s12">
				<input id="nome" name="nome" ng-model="usuario.nmNome"
					type="text" class="validate"> <label for="nome">Nome </label>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="login"  name="login" ng-model="usuario.vlLogin" type="text"
						class="validate"> <label for="login"> Login</label>
				</div>
			</div>
			
				<div class="row">
				<div class="input-field col s12">
					<input id="senha"  name="senha" ng-model="usuario.vlSenha" type="text"
						class="validate"> <label for="senha"> Senha</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<input id="email" name="email" ng-model="usuario.vlEmail" type="email"
						class="validate"> <label for="email">Email</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<input id="cpf" name="cpf" ng-model="usuario.vlCpf" type="text"
						maxlength="11" class="validate"> <label for="cpf">CPF</label>
				</div>
			</div>

			<a class="waves-effect waves-light btn colorPadrao" ui-sref="login">Voltar</a>
			<a class="waves-effect waves-light btn colorPadrao"
				ng-click="adicionarCadastro(usuario, contato)">Confirmar</a>
		</div>

		<!-- Div Direita -->
		<div class="col s6">
			<div class="input-field col s8">
				<input id="cep" name="cep" ng-model="usuario.blxContato.blxEndereco.vlCep" via-cep="cep" type="text"
					class="validate" maxlength="8"> <label for="cep"> Cep {{usuario.blxContato.blxEndereco.vlCep | cep}}</label>

			</div>

			<div class="input-field col s4">
				<input id="numero" name="numero" ng-model="usuario.blxContato.blxEndereco.vlNumero" type="number"
					class="validate"> <label for="numero"> Numero </label>
			</div>

			<div class="input-field col s12">
				<input id="rua" name="rua" ng-model="usuario.blxContato.blxEndereco.vlRua" via-cep="logradouro"
					type="text" class="validate"> <label for="rua"> Rua
				</label>
			</div>

			<div class="input-field col s4">
				<input id="uf" name="uf" ng-model="usuario.blxContato.blxEndereco.vlUf" via-cep="uf" type="text"
					class="validate"> <label for="uf"> UF </label>
			</div>

			<div class="input-field col s8">
				<input id="cidade" name="cidade" ng-model="usuario.blxContato.blxEndereco.vlCidade" via-cep="localidade"
					type="text" class="validate"> <label for="cidade">
					Cidade </label>
			</div>

			<div class="input-field col s12">
				<input id="telefone" name="telefone" ng-model="usuario.blxContato.vlTelefoneFixo" type="text"
					class="validate" maxlength="11"> <label for="telefone"> Telefone {{usuario.blxContato.vlTelefoneFixo | telefone}}</label>
			</div>

			<div class="input-field col s12">
				<input id="celular" name="celular" ng-model="usuario.blxContato.vlTelefoneMovel" type="text"
					class="validate" maxlength="11"> <label for="celular"> Celular {{usuario.blxContato.vlTelefoneMovel | telefone}}</label>
			</div>

		</div>

	</form>
	<!-- teste de erro nos forms  -->
	<div
		ng-show="contatoForm.nmNome.$error.required && contatoForm.nmNome.$dirty"
		class="">Por favor, preencha nome.</div>
</div>
<div ng-include="'partials/rodape.html'"></div>
