<!-- Menu do sistema  -->
<div ng-include="'partials/menuUser.html'"></div>


<div class="container">
	<div class="row">
		<div class="col m3 s12">menu / menu / menu</div>
	</div>
</div>

<div class="section white">
	<div class="container">
		<div class="row">
			<div class="col m3 s12">
				<div style="height: 500px">content</div>
			</div>
		</div>
	</div>
</div>

<!-- Rodape -->

<div ng-include="'partials/rodape.html'"></div>






