<!-- Menu do sistema  -->
<div ng-include="'partials/menu.html'"></div>
<div class="row myRow">
	<!-- IMG BRQ -->
	<div class="col s6 center">
		<img materialboxed class="materialboxed" width="600"
			src="img/Logo-BRQ.jpg" />
	</div>
	<br>
	<!-- Formulário login -->
	<div class="col s6 ">
		<form class="col s6">
			<div class="row">
				<div class="input-field col s12">
					<input id="login" name="login" ng-model="usuario.vlLogin"
						type="text" class="validate"> <label for="login">
						Login</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="password" name="senha" ng-model="usuario.vlSenha"
						type="password" class="validate"> <label for="password">Password</label>
				</div>
			</div>
			<button type="submit" class="btn colorPadrao" ng-click="login()" ui-sref="#">Logar</button> <a
				class="waves-effect waves-light btn colorPadrao"
				ui-sref="userCadastro">Cadastrar</a>
			<!-- teste modal 
			<div class="col">
				<a class='btn' href='#demoModal' modal>Show Modal</a>
			</div>
-->
		{{error}}
		</form>
	</div>
</div>