<meta charset="UTF-8">
<nav class="cyan darken-3">
	<div class="nav-wrapper colorPadrao">

		<div class="col s2 logo"><a ui-sref="accountUser"></a></div>
		<div class="col s10">
			<ul id="nav-mobile" class="top left hide-on-med-and-down">
				<li><a ui-sref="accountUser"> Inicio </a> </li>
				<li><a ui-sref="listarAnunciosUsuario">Meus Anúncios</a></li>
				<li><a ui-sref="listarAnuncios">Anúncios</a></li>
			</ul>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a ui-sref="#">Mensagem<i class="material-icons right">chat_bubble</i></a>
				<li><a href='#' data-activates='demoDropdown'
					dropdown data-hover="true">Bem-Vindo<i
						class="material-icons right">arrow_drop_down</i></a></li>
				<li><a ui-sref="logout"><i class="material-icons">power_settings_new</i></a></li>
			</ul>
			<ul id='demoDropdown' class='dropdown-content'>
				<li><a ui-sref="#">Meus dados</a></li>
				<li><a ui-sref="perfil">Meu perfil</a></li>
			</ul>
		</div>
		<!-- Menu colapse  -->
		<div>
			<ul id="slide-out" class="side-nav">
				<li><a ui-sref="listarAnuncios">Anúncios</a></li>
				<li><a ui-sref="listarAnunciosUsuario">Meus Anúncios</a></li>
				<li><a ui-sref="#">Mensagem<i class="material-icons right">chat_bubble</i></a>
				<li class="divider"></li>
				<li><a ui-sref="#!">Meus dados</a></li>
				<li><a ui-sref="#!">Meu peril</a></li>
				<li class="divider"></li>
				<li><a ui-sref="#">sair<i class="material-icons right">power_settings_new</i></a></li>
			</ul>
			<a ui-sref="#" data-activates="slide-out"
				class="button-collapse right"><i class="material-icons">view_headline</i></a>
		</div>
	</div>

</nav>