<meta charset="UTF-8">
<nav class="cyan darken-3">
	<div class="nav-wrapper colorPadrao">

		<div class="col s2 logo"><a ui-sref="accountAdmin"></a></div>
		<div class="col s10">
			<ul id="nav-mobile" class="top left hide-on-med-and-down">
				<li><a ui-sref="usuarios">Usuários</a></li>
				<li><a ui-sref="listarAnunciosAdmin">Anúncios</a></li>
			</ul>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a ui-sref="#">Mensagem<i class="material-icons right">chat_bubble</i></a>
				<li><a ui-sref='#!' data-activates='demoDropdown'
					dropdown data-hover="true">Bem-Vindo {{usuario.nmNome}}</a></li>
				<li><a ui-sref="logout"><i class="material-icons">power_settings_new</i></a></li>
			<!-- 
			</ul>
			<ul id='demoDropdown' class='dropdown-content'>
				<li><a ui-sref="#">Meus dados</a></li>
				<li><a ui-sref="#">Meu peril</a></li>
			</ul> -->
		</div>
		<!-- Menu colapse  -->
                <div>
                    <ul id="slide-out" class="side-nav">
                      <li><a href="usuarios">Usuários</a></li>
                      <li><a href="listarAnunciosAdmin">Anúncios</a></li>
                      <li><a href="#">Mensagem<i class="material-icons right">chat_bubble</i></a>
                      <li class="divider"></li>
                      <li><a href="#!">Meus dados</a></li>
                      <li><a href="#!">Meu peril</a></li>
                      <li class="divider"></li>
                      <li><a href="#">sair<i class="material-icons right">power_settings_new</i></a></li>
                    </ul> 
                    <a href="" data-activates="slide-out" class="button-collapse right"><i class="material-icons">view_headline</i></a>
                </div>
	</div>
</nav>