<meta charset="UTF-8">
<footer class="page-footer colorPadrao">
	<div class="container">
		<div class="row">
			<div class="col l6 m6 s12">
				<h5 class="white-text">BLX.com</h5>
				<p class="grey-text text-lighten-4 thin-text">Lorem ipsum
					dolorem sit amet</p>
				<div class="social-icons-footer">
				
				</div>
			</div>
			<div class="col l3 m3 s12">
				<h5 class="white-text">Serviços</h5>
				<ul class="thin-text">
					<li><a class="grey-text text-lighten-3" ui-sref="#">servico</a></li>
					<li><a class="grey-text text-lighten-3" ui-sref="#">servico 2</a></li>
					<li><a class="grey-text text-lighten-3" ui-sref="#">servico 3</a></li>
				</ul>
			</div>
			<div class="col l3 m3 s12">
				<h5 class="white-text">Glossário</h5>
				<ul class="thin-text">
					<li><a class="grey-text text-lighten-3" ui-sref="#">Link1</a></li>
					<li><a class="grey-text text-lighten-3" ui-sref="#">Link1</a></li>
					<li><a class="grey-text text-lighten-3" ui-sref="#">Link1</a></li>
					<li><a class="grey-text text-lighten-3" ui-sref="#">Link1</a></li>
					<!--<li><a class="grey-text text-lighten-3" href="#!">Kontakt</a></li>-->
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">Copyright © 2015 BRQ</div>
	</div>
	<script>
		$('.button-collapse').sideNav({
			menuWidth : 300,
			edge : 'right',
			closeOnClick : true
		});
	</script>
</footer>