<meta charset="UTF-8">
<div ng-include="'partials/menuAdmin.html'"></div>
<div class="container">
	<div class="section" style="font-size: 20px">
		<b>Usuários</b>
	</div>
	<div class="card-panel">
		<div class="row">
			<div class="col s6 m8 l10">
				<div class="input-field">
					<input name="nome" id="nome" type="text" ng-model="busca"
						class="validate"> <label for="nome">Buscar Usuário</label>
				</div>
			</div>
			<div class="col s6 m4 l2">
				<a href="#" class="waves-effect accent-5 z-depth-2 waves-light btn"
					style="color: #ffffff; background-color: #1690b9">Buscar</a>
			</div>
		</div>
		<br>
		<div class="row">
			<div
				dir-paginate="usuario in usuarios | filter:busca | itemsPerPage:12">
				<div class="col s12 m6 l4">
					<div class="card-panel " style="height: 220px;">
						<div class="row">
							<div class="col s12 m6 l4">
								<div class="card-imagem">
									<a href=""> <img
										src="https://image.freepik.com/free-icon/male-user-silhouette_318-35708.png"
										class="imgAng" />
									</a>
								</div>
							</div>
							<div class="col s12 m6 l8"
								style="color: #0a0808; font-size: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap">
								
								<b>USUÁRIO :</b><br> {{usuario.nmNome}}
								<p>
									<b>TELEFONE MOVEL:</b><br>
									{{usuario.blxContatos[0].vlTelefoneFixo}}
								</p>
								<b>EMAIL :</b><br> {{usuario.vlEmail}}
							</div>
						</div>
						<div class="card-action" align="right" style="margin-left: 64px">
					 	<a ui-sref="alterarUsuarioAdmin({'codUsuario':usuario.codUsuario})" 
								class="waves-effect accent-3 z-depth-2 waves-light btn"
								style="color: #ffffff; background-color: #1690b9; font-size: 12px; padding-right: 11px; padding-left: 11px; line-height: 29px; height: 28px">Editar</a>
							<a
								class="waves-effect accent-3 z-depth-2 waves-light btn modal-trigger"
								href="#modal2" ng-if="user.ativo == 'n'"
								style="color: #ffffff; background-color: #1690b9; font-size: 12px; padding-right: 11px; padding-left: 11px; line-height: 29px; height: 28px">Ativar</a>
							<a
								class="waves-effect accent-3 z-depth-2 waves-light btn modal-trigger"
								href="#modal1" ng-if="user.ativo == 's'"
								style="color: #ffffff; background-color: #1690b9; font-size: 12px; padding-right: 11px; padding-left: 11px; line-height: 29px; height: 28px">Desativar</a>
							<div id="modal1" class="modal" align="center">
								<div class="modal-content">
									<h4>Desativação de Usuário</h4>
									<p>Tem certeza que deseja desativar o usuário ?</p>
								</div>
								<div class="modal-footer">
									<a href="listar.html"
										class=" modal-action modal-close waves-effect waves-light btn-flat">NÃO</a>
									<a ng-click="desativar()"
										class=" modal-action modal-close waves-effect waves-light btn-flat">SIM</a>
								</div>
							</div>
							<div id="modal2" class="modal" align="center">
								<div class="modal-content">
									<h4>Ativação de Usuário</h4>
									<p>Tem certeza que deseja ativar o usuário ?</p>
								</div>
								<div class="modal-footer">
									<a href="listar.html"
										class=" modal-action modal-close waves-effect waves-light btn-flat">NÃO</a>
									<a ng-click="ativar()"
										class=" modal-action modal-close waves-effect waves-light btn-flat">SIM</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<dir-pagination-controls max-size="100" boundary-links="true"></dir-pagination-controls>
	</div>
</div>
</div>

<div ng-include="'partials/rodape.html'"></div>