<div id="demoModal" class="modal">
	<div class="modal-content">
		<p>Login ou senha incorretos</p>
	</div>
	<div class="modal-footer">
		<a ui-sref="login"
			class=" modal-action modal-close waves-effect waves-green btn-flat">
			OK </a>
	</div>
</div>